body{
    background-image: url('https://www.nicecotedazur.org/uploads/media_items/biodiversit%c3%a9-nca-ok.original.jpg');
    background-position: top;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.Texte{
    text-align: left;
    align-content: center; 
    background-color: rgba(255, 255, 255, 0.815);
    width: 50%;
    margin: 0 auto;
    margin-top: 0%;
}

.Prénom{
    text-align: left;
    align-content: right; 
    background-color: rgba(255, 0, 0, 0.815);
    width: 6%;
    align-items: center 
    
    
s
}

#CssSVT{
    width: 800px;
    margin:0 auto;
    background-color: rgba(70, 117, 70, 0.452);
    text-align: left;
    align-content: center;
}

h1{
    color: rgb(197, 37, 37);
    text-decoration: underline;
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(197, 37, 37);
    text-decoration: underline;
    margin: 0 auto;
    
}

h3{
    text-align:left;
    color: rgb(197, 37, 37);
    text-decoration: underline;
    margin-left: 1cm;
}

p{
    margin: left;
    padding-left: 1cm;
    padding-right: 1cm;
}

table{
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(161, 161, 161, 0.712);
    table-layout: fixed;
    width: 60%;
    text-align: center;
}

td{
    border: 1px solid black;
}

.plastiques{

    width: 50%;
    margin: auto;
    display: flex;
}

.forêts{

    width: 50%;
    margin: auto;
    display: flex;
}

.parc{
    width: 50%;
    margin: auto;
    display: flex;
}